* {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 88px 80px 137px 80px;
    margin: 0 auto;
    background-color: #F5F4F0;
}

span {
    color: #E1624F;
    text-transform: uppercase;
    margin-bottom: 8px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

img {
    border-radius: 28px;
    width: 100%;
    height: auto;
}

figure img {
    margin-bottom: 24px;
}

figcaption {
    color: #333333;
}

#descubra {
    margin: 64px 0px 64px 0px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

p {
    font-size: 16px;
    font-weight: normal;
    color: #333333;
}

#d1 img, #d2 img, #d3 img {
    margin: 48px 0px 20px 0px;
    /* margin-bottom: 20px; */
}

h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 4px;
}

.good-for {
    font-weight: bold;
}

ul {
    list-style-position: inside; /* coloca o pontinho para dentro da caixa */
    font-weight: bold;
}

.history {
    color: #0C51A7;
}

.couples {
    color: #591B98;
}

.families {
    color: #E5245E;
}

.budget {
    color: #E95E10;
}

li::marker {
    color: #333333;
}

#phrase {
    margin: 80px 0px 65px 0px;
    text-align: center;
}

#made-by {
    text-align: center;
}