* {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Open Sans', sans-serif;
    margin: 88px 80px 137px 80px;
}

span {
    color: #E1624F;
    text-transform: uppercase;
    margin-bottom: 8px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

img {
    border-radius: 28px;
    width: 100%;
    height: auto;
}

figure img {
    margin-bottom: 24px;
}

#descubra {
    margin: 64px 0px 64px 0px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

p {
    font-size: 16px;
    font-weight: normal;
}

#d1, #d2, #d3, img {
    margin-bottom: 20px;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 4px;
}

#phrase {
    margin: 80px 0px 65px 0px;
    text-align: center;
}

#made-by {
    text-align: center;
}